@import url(https://allfont.es/allfont.css?fonts=good-times);
body{
    font-size: 20px;
    font-family: helvetiva, sans-serif;
    background-image: url("../img/fondo_nascar.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: transparent;  /* evita que se muestren los textos ajenos al codigo, por ejemplo warnings de php */
}

br{
    font-size: 0.75em;
}

div{
    background-color: rgba(255, 255, 255, .85);
    position: absolute;
    margin: auto;
    left: 25%;
    right: 25%;
    top: 5%;
    width: 50%;
    height: 90%;
    min-width: 500px;
    border-radius: 25px;
    color: black;
}

div h2{
    font-family: "good times", verdana, sans-serif;
    text-align: center;
    font-size: 2.75em;
    position: relative;
    margin: 5%;
}

form{
    margin: 20px;
}
div label{
    font-size: 1.1em;
    font-weight: 600;
    margin-left: 5px;
}

div input{
    height: 35px;
    border: 1px solid white;
    border-bottom: 2px solid #00c0a5;
    width: 95%;
    margin: 15px 0 30px;
    font-size: 18px;
    outline: none;
    padding: 0 5px;
}

div input:hover{
    height: 35px;
    border: 1px solid white;
    border-bottom: 2px solid #40fdf4;
    width: 95%;
    margin: 15px 0 30px;
    font-size: 18px;
    outline: none;
    padding: 0 5px;
    transition: 1s;
}

div button{
    font-size: 1.05em;
    background-color: #40fdf7;
    width: 75%;
    border-radius: 25px;
    height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    margin: 50px 13% 20px;
    border: #40fdf7 2px solid;
}

div button:hover{
    font-size: 1.05em;
    background-color: #00c0a5;
    width: 75%;
    border-radius: 25px;
    height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    margin: 50px 13% 20px;
    border: #00c0a5 2px solid;
}

form a{
    color: #40fdf7;
    font-size: 0.9em;
    text-decoration: none;
    position: absolute;
    right: 6.5%;
    margin-bottom: 50px;
    font-weight: 550;
}

div section{
    font-size: 1.05em;
    width: 70%;
    border-radius: 25px;
    height: 25px;
    text-transform: uppercase;
    font-weight: bold;
    outline: none;
    margin: 10px 16%;
}

#volver{
    font-size: 1.05em;
    /*margin: 50px 0;*/
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    width: 80%;
    text-decoration: none;
    text-align: center;
}

#volver:hover{
    color: #00c0a5;
}

b{ /* evita que se muestren los textos ajenos al codigo, por ejemplo warnings de php */
    color:white;
    opacity: 0;
}

@media(max-width: 600px){
    div{
        background-color: rgba(255, 255, 255, .75);
        position: center;
        margin: auto;
        left: 0;
        right: 0;
        width: 100%;
        top: 5%;
    }

    div h2{
        margin: 9% 10px 7%;
    }

    form{
        margin: 0 20px;
    }

    div input{
        margin: 13px 0 30px;
        font-size: 18px;
    }

    div input:hover{
        margin: 13px 0 30px;
        font-size: 18px;
    }

    div button{
        margin: 0 13% 20px;
    }
    #create{
        margin: 0 13%;
    }
    div button:hover{
        margin: 0 13% 20px;
    }

    form a{
        margin-bottom: 40px;
    }

    div section{
        margin: 0 16%;
    }
    div p{
        text-align: center;
        color: red;
        margin-top: -5px;
        font-size: 0.8em;
    }
}