@import url(https://allfont.es/allfont.css?fonts=good-times);
body{
    font-size: 20px;
    font-family: helvetiva, sans-serif;
}

.centro{
    background-color: rgba(186, 186, 186, 0.6);
    width: 85%;
    padding: 20px;
    /*min-width: 550px;*/
    min-height: 500px;
    position: fixed;
    top: 8%;
    height: 80%;
    left: 6%;
    right: 7%;
    border-radius: 25px;
    font-size: 1.2em;
    min-width: 1000px;
}

section{
    display: inline-block;
    height: 65%;
    padding: 15px;
    border-radius: 25px;
    min-width: 200px;
    min-height: 300px;
}

#stop:hover{
    background-color: #1b2437;
    background-image: none;
    border: 2px solid #1b2437;
}

#reverse:hover{
    background-color: #1b2437;
    background-image: none;
    border: 2px solid #1b2437;
}

#left:hover{
    background-color: #1b2437;
    background-image: none;
    border: 2px solid #1b2437;
}

#right:hover{
    background-color: #1b2437;
    background-image: none;
    border: 2px solid #1b2437;
}

.triangulo_sup {
    width: 0;
    height: 0;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    border-top: 52px solid #1b2437;
    position: absolute;
    display: inline-block;
    top: 155px;
    left: 196px;
}

.triangulo_der {
    width: 0;
    height: 0;
    border-top: 52px solid transparent;
    border-left: 52px solid #1b2437;
    border-bottom: 52px solid transparent;
    position: absolute;
    display: inline-block;
    top: 165px;
    left: 190px;
}

.triangulo_izq {
    width: 0;
    height: 0;
    border-top: 52px solid transparent;
    border-right: 52px solid #1b2437;
    border-bottom: 52px solid transparent;
    position: absolute;
    display: inline-block;
    top: 165px;
    left: 256px;
}

.triangulo_inf {
    width: 0;
    height: 0;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    border-bottom: 52px solid #1b2437;
    position: absolute;
    display: inline-block;
    top: 46%;
    margin-left: 0.4%;
    top: 225px;
    left: 195px;
}

.container{
    position: absolute;
    width: 40%;
    height: 85%;
    margin: 1.5% 1.5% 1.5% 2%;
    display: inline-block;
    border-radius: 100%;
    min-width: 500px;
    color: white;
    text-align: center;
}


#stop{
    width: 100px;
    height: 145px;
    line-height: 100px;
    background-image: linear-gradient(to bottom, #00c0a5 45%, #1b2437);
    border-bottom: 2px solid #1b2437;
    border-top: 2px solid #00c0a5;
    border-left: 2px solid #00c0a5;
    border-right: 2px solid #00c0a5;
    position: absolute;
    margin-top: 35px;
    margin-left: -51px;
    top: 0;
    font-size: 3em;
    padding-left: 2px;
}

#left{
    width: 145px;
    height: 100px;
    margin-left: -204px;
    border-bottom: 2px solid #00c0a5;
    border-top: 2px solid #00c0a5;
    border-left: 2px solid #00c0a5;
    border-right: 2px solid #1b2437;
    background-image: linear-gradient(to right, #00c0a5 45%, #1b2437);
    position: absolute;
    margin-top: 195px;
    line-height: 90px;
    font-size: 3em;
}

#right{
    width: 145px;
    height: 100px;
    margin-left: 62px;
    margin-top: 195px;
    border-bottom: 2px solid #00c0a5;
    border-top: 2px solid #00c0a5;
    border-left: 2px solid #1b2437;
    border-right: 2px solid #00c0a5;
    background-image: linear-gradient(to left, #00c0a5 45%, #1b2437);
    position: absolute;
    line-height: 90px;
    font-size: 3em;
}

#reverse{
    width: 100px;
    height: 145px;
    margin-top: 306px;
    margin-left: -50px;
    border-top: 2px solid #1b2437;
    border-bottom: 2px solid #00c0a5;
    border-left: 2px solid #00c0a5;
    border-right: 2px solid #00c0a5;
    background-image: linear-gradient(to top, #00c0a5 45%, #1b2437);
    position: absolute;
    line-height: 170px;
    font-size: 3em;
    padding-left: 2px;
}

#forward{
    background-color: rgba(228, 19, 19, 0.65);
    position: absolute;
    width: 47%;
    height: 15%;
    margin-top: 35%;
    margin-bottom: 1.5%;
    margin-left: -1%;
    left: 50%;
    display: inline-block;
    border-radius: 25px;
    min-width: 500px;
    border: 5px solid rgb(241, 50, 50);
    font-family: helvetiva, sans-serif;
    color: white;
    font-size: 2.2em;
    line-height: 85px;
    text-align: center;
}